/LimiteDeCartasExcedidoException.class
/BaralhoCompletoException.class
/BaralhoNaoInicializadoException.class
/BaralhoVazioException.class
/BaralhoJaExistenteException.class
/CartaNaoEncontradaException.class
/CartaSendoUtilizadaException.class
/DinheirosInsuficientesException.class
/MesaCheiaException.class
/MesaVaziaException.class
